
body{
    background-color: #eee;
}

button{
  	margin: 3px 0px;
    margin-top: 5px;
}
.btndiv{

    margin:0px 0px;
}

.panel{
    width:100%;
    margin-top: 15px;
    display: none;
}
.tab-pane{
    width: 80%
    margin-left:20px;
}
.jumbo{
    margin: 0% 20%;
}
#idbox{
    height:50px;
    font-size: 20px;
    text-align: center;
    color:#337ab7;
}
#filebox{
    height:50px;
    padding:13px 13px;
    font-size: 15px;
}
#datapanelpreview{
    margin-top: 180px;
  }

.modal-dialog{
    margin: 4% 15%;
} 
.modal-body{
    margin: 0% 20%;
}
.modal-body form{
    margin-top: 5%;
}


.navbar-default {
  background-color: #337ab7;
  border-color: #286090;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 25px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #286090;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #286090;
}
.navbar-default .navbar-toggle {
  border-color: #286090;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #286090;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: white;
}

  

  @media screen and (min-width: 768px){

  .jumbo{
      margin: 0% 35%;
      }
  
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: grey;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: black;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: black;
      background-color: #286090;
    }
  }